[program:{{ program_name }}]
command=source {{ conda_root }}/{{ conda_folder_name }}/bin/activate {{ program_name }}; gunicorn {{ program_name }}:application
autostart=true
directory={{ project_location }}
stderr_logfile=/var/log/{{ program_name }}.err.log
stdout_logfile=/var/log/{{ program_name }}.out.log
