[buildout]

# buildout options
show-picked-versions = true
newest = false
versions = versions
download-cache = downloads
log-level = INFO

## extensions

# use python site-packages
# https://pypi.python.org/pypi/buildout.locallib/ 
extensions = buildout.locallib

parts = 
      tomcat
      ncwms
      docker

[settings]
http-port = 8080
tomcat-xms = 128m
tomcat-xmx = 1024m
tomcat-maxpermsize = 128m
tomcat-ncwms-password =

[versions]
birdhousebuilder.recipe.ncwms = 0.1.2
birdhousebuilder.recipe.docker = 0.4.1

[tomcat]
recipe = birdhousebuilder.recipe.tomcat
http_port = ${settings:http-port}
Xms = ${settings:tomcat-xms}
Xmx = ${settings:tomcat-xmx}
MaxPermSize = ${settings:tomcat-maxpermsize}
ncwms_password = ${settings:tomcat-ncwms-password}

[ncwms]
recipe = birdhousebuilder.recipe.ncwms
port = ${settings:http-port}

[docker]
recipe = birdhousebuilder.recipe.docker
vendor = Reading eScience Centre
maintainer = https://github.com/bird-house/birdhouse-playground/tree/master/ncwms2
description = ncWMS2 Web Map Service
version = 2.0.4
expose = ${settings:http-port}

           

